/* login */
.ucSimpleHeader {
    /* height: 66px; */
    margin: 0 auto;
    position: relative;
    padding: 1.5rem 0;
    width: 980px;
    overflow: hidden;
}

.ucSimpleHeader .tipsText {
    line-height: 74px;
}


.login-wrap {
    height: 500px;
    width: 100%;
    background: #f5f5f5;
}

.banner-show {
    position: relative;
    width: 980px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.left_content {
    float: left;
    width: 523px;
    margin-left: 20px;
}

.register-box {
    position: absolute;
    top: 50px;
    right: 0;
    width: 346px;
    height: 400px;
    background: white;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.95);
}

.reg-tab {
    position: relative;
    width: 396px;
    height: 57px;
    zoom: 1;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

.reg-tab span {
    float: left;
    width: 198px;
    height: 57px;
    margin-left: -1px;
    line-height: 57px;
    text-align: center;
    font-size: 24px;
    color: #444;
    border-left: 1px solid #d2d3d4;
    background: url(../images/bg_tab_x.png?v=201406241538) repeat-x 0 0;
    cursor: pointer;
}

.reg-tab span:first-child {
    border-top-left-radius: 3px;
}

.reg-tab span:last-child {
    border-top-right-radius: 3px;
}

.reg-tab span.current {
    background: none;
    cursor: default;
}

.reg-slogan {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.reg-form {
    width: 280px;
    height: 280px;
    margin: auto;
}

.reg-form .cell {
    position: relative;
    height: 40px;
    margin-bottom: 22px;
    zoom: 1;
}

.reg-form .cell .icon-form {
    top: 11px;
    right: 10px;
}

.reg-form .vcode input {
    width: 150px;
}

.reg-form .vcode .button {
    position: absolute;
    top: 0;
    left: 160px;
    width: 182px;
    padding: 0;
    font-size: 14px;
}

.reg-form .vcode span {
    position: absolute;
    top: 0;
    left: 264px;
    line-height: 40px;
    font-size: 14px;
}

.reg-form .vcode .icon-form {
    right: 204px;
}

.reg-form .vcode .login-popup-hint {
    right: 194px;
}

.reg-form .user-agreement {
    height: 16px;
    margin-top: -22px;
    padding: 18px 0;
    line-height: 16px;
}

.reg-form .user-agreement input {
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
}

.reg-form .bottom {
    height: 40px;
}

.reg-form .bottom .button {
    display: block;
    border-radius: 3px;
}

.reg-form .text,
.register-form .register-input {
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border: 1px solid;
    border-color: #CECECF;
    border-radius: 0;
    padding: 7px 10px 7px 35px;
    background: white;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    box-sizing: border-box;
}

.reg-form .text:focus,
.register-form .register-input:focus {
    outline: none;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.reg-form .text {
    width: 100%;
}

.login-bottom {
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
}
.login-bottom .btn,
.register-btn .btn {
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
}

.login-bottom .btn_sign_in {
    width: 100%;
    margin: 0;
}


.reg-form .yzm {
    display:inline-block;
    vertical-align: middle;
    width: 90px;
    height: 40px;
}

.reg-form .yzm img {
    width: 90px;
    height: 24px;
    vertical-align: middle;
}
.reg-form .cell i.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 38px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ddd;
    font-size: 1.2rem;
}

.reg-form .cell input:-webkit-input-placeholder,
.register-form input:-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.reg-form .cell input:-ms-input-placeholder,
.register-form input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}

.reg-form .cell input:-moz-placeholder,
.register-form input:-moz-input-placeholder {
    color: #999;
    font-weight: normal;
}

/* 注册 */

.register-container {
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid rgba(221, 221, 221, .5);
}
.register-wrap {
    width: 680px;
    margin: 0 auto;
    overflow: hidden;
}
.register-form {
    display: block;
    width: 580px;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.register-form .radio {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.register-form .radio label {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    cursor: pointer;
}
.register-form .radio input[type=radio] {
    position: absolute;
    left: 0;
    top: 5px;
}
.register-form dl {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.register-form dt {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: right;
}
.register-form dd {
    position: relative;
    float: right;
    width: 380px;
    height: 40px;
    box-sizing: border-box;
}
.register-form dd input.register-input {
    width: 100%;
}
.register-form dd i.icon {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
    color: #ddd;
}

.register-form .register-input:focus ~ .icon {
    color: #999;
}
.register-form dd input.register-input.vcode {
    width: 200px;
}
.register-form .manage-box {
    float: right;
    width: 175px;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}
.register-form .manage-box .btn {
    padding: .66rem 2rem;
    border-radius: 4px;
}
.register-form .yzm-img img {
    vertical-align: middle;
}
.register-form .register-btn .btn {
    padding-top:0.65rem;
    padding-bottom:0.65rem;
}


/* footer */
.register-footer {
    border-top: 1px solid rgba(221, 221, 221, .5);
}
.footer .content {
    width: 100%;
    padding-top: 2rem;
}

.footer .content a {
    padding: 0 0.5rem;
    color: #666;
}
.footer .content p {
    line-height: 30px;
}