body {
    background-color: #f6f6f6;
}
.header {
    background: #fff;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
}
.header .headinfo {
    width: 100%;
    padding: 20px 0 10px 0;
}
.header .headinfo .logo {
    height: 68px;
}
.header .headinfo .logo img {
    height: 68px;
}
.search {
    position: relative;
    width: 100%;
    border: 2px solid #cf3529;
    height: 36px;
    margin: 16px 0;
    box-sizing: border-box;
}
.search > form {
    display: block;
    width: 100%;
}

.search select {
    display: none;
}

.search .select_box {
    float: left;
    font-size: 12px;
    color: #999999;
    width: 100px;
    line-height: 32px;
    position: relative;
}

.search .select_showbox {
    height: 32px;
    background: url(../images/search_ico.png) no-repeat 80px center;
    text-indent: 1.5em;
}

.search .select_showbox.active {
    background: url(../images/search_ico_hover.png) no-repeat 80px center;
}

.search .select_option {
    border: 2px solid #cf3529;
    border-top: none;
    display: none;
    left: -2px;
    top: 32px;
    position: absolute;
    z-index: 99;
    background: #fff;
}
.search .input {
    position: relative;
    margin-left: 100px;
}
.search .select_option li {
    text-indent: 1.5em;
    width: 90px;
    cursor: pointer;
}

.search .select_option li.selected {
    background-color: #F3F3F3;
    color: #999;
}

.search .select_option li.hover {
    background: #BEBEBE;
    color: #fff;
}

.search input.inp_srh,
.search input.btn_srh {
    border: none;
    background: none;
    height: 35px;
    line-height: 35px;
}

.search input.inp_srh {
    outline: none;
    width: 365px;
}

.search input.btn_srh {
    background: #cf3529;
    color: #FFF;
    font-size: 15px;
    width: 60px;
}

.search .search-btn {
    position: absolute;
    top: 0;
    right: -1px;
    width: 100px;
    height: 33px;
    color: #fff;
    background: #cf3529;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.belt-road {
    width: 100%;
    height: 68px;
}
.belt-road img {
    height: 68px;
}

/* nav */

.header .nav {
    height: 36px;
    margin-bottom: 10px;
}

.header .nav .zi {
    float: left;
    height: 36px;
    width: 200px;
    padding-top: 14px;
    text-align: center;
}
.header .nav ul {
    display: inline-block;
    height: 36px;  
    padding: 14px 100px 0 20px;
    box-sizing: border-box;
}
.header .nav li {
    float: left;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.header .nav li:last-child {
    padding-right: 0;
}
.header .nav li a {
    color: #4a4a4a;
    font-weight: bolder;
    text-decoration: none;
}
.header .nav li a.active,
.header .nav li a:hover {
    color: #cf3529;
    text-decoration: none;
}
.nav-btn {
    border-radius: 0.1875rem;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.3125rem 2rem;
    text-align: center;
    outline: none;
}

/* 侧边导航 */
.subnav {
    height: 520px;
    background: #fff;
}
.subnav .subnav-con {
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 10px;
}
.subnav dl,
.subnav dt,
.subnav dd {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.subnav dl {
    width: 100%;
    height: 65px;
    display: inline-block;
    padding-top: 12px;
    /* IE hack */
    padding-top: 6px\9\0;
    box-sizing: border-box;
}
.subnav dt {
    font-size: 14px;
    line-height: 20px;
    color: #4a4a4a;
    font-weight: normal;
    padding-bottom: 3px;
}
.subnav dt span {
    padding-left: 4px;
}
.subnav dd {
    font-size: 12px;
}
.subnav dd a {
    float: left;
    position: relative;
    padding: 0 8px;
    color: #666;
}
.subnav dd a:hover {
    color: #cf3529;
}
.subnav dd a.hot {
    color: #cf3529;
}
.subnav dd a:after {
    position: absolute;
    right: -3px;
    content: "/";
    color: #999;
}
.subnav dd a:last-child:after {
    display: none;
}
.subnav dd a:last-child {
    padding-right: 0;
}
.subnav dd a:first-child {
    padding-left: 0;
}
.subnav .subnav-con .icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 20px;
}
.subnav .subnav-con .icons .icon {
    font-size: 12px;
    color: #fff;
}
.subnav .subnav-con dl:first-child .icons {
    background: #cf3529;
}
.subnav .subnav-con dl:nth-child(2) .icons {
    background: #774FFF;
}
.subnav .subnav-con dl:nth-child(3) .icons {
    background: #4DCA69;
}
.subnav .subnav-con dl:nth-child(4) .icons {
    background: #F5A623;
}
.subnav .subnav-con dl:nth-child(5) .icons {
    background: #4FB0FF;
}
.subnav .subnav-con dl:nth-child(6) .icons {
    background: #3DE1CD;
}
.subnav .subnav-con dl:nth-child(7) .icons {
    background: #DA79D7;
}

/* 轮播图 */

.sliderBox {
    position: relative;
    width: 100%;
    height: 305px;
    margin-bottom: 15px;
    background: #fff;
}

.slider_list li {
    position: absolute;
    display: none;
}

.slider_list li:first-child {
    display: block;
}

.slider_icon {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 10px;
    font-size: 0;
    height: 10px;
}

.slider_icon .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: rgba(255, 255, 255, .5);
}

.slider_icon .dot.dot_act {
    background: #cf3529;
    width: 14px;
}
.sliderBox .arrow {
    display: none;
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    margin-top: -30px;
}

.sliderBox .prve {
    left: 0;
}

.sliderBox .next {
    right: 0;
}

.sliderBox .arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.slider_left {
    margin: 25px 0 0 10px;
    transform: rotate(45deg);
}

.slider_right {
    margin: 25px 0 0 5px;
    transform: rotate(-135deg);
}

.sliderBox .arrow:hover {
    background: #444;
}

.sliderBox:hover .arrow {
    display: block;
}

/* 数据可视化 */
.index_data_view {
    width: 100%;
    height: 200px;
    background: #fff;
}

.index_data_view ul {
    position: relative;
    width: 100%;
    height: 100px;
}
.index_data_view ul:first-child:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}
.index_data_view li {
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
    color: #4a4a4a;
    border-right: 1px solid rgba(221, 221, 221, .5);
    box-sizing: border-box;
}
.index_data_view li:last-child {
    border-right: 0;
}
.index_data_view .ico {
    margin-top: 15px;
    height: 20px;
    line-height: 20px;
}
.index_data_view .ico .icon {
    font-size: 20px;
    color: #4a4a4a;
}
.index_data_view .data {
    font-size: 20px;
    padding-top: 5px;
}
.index_data_view .name {
    font-size: 12px;
    color: #9b9b9b;
}


/* 最新动态 tab */

.index_tab {
    margin-left: -15px;
    margin-right: -15px;
    height: 305px;
    margin-bottom: 15px;
    background: #fff;
}
.index_tab .tab-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.index_tab .container-tit {
    height: 35px;
    position: relative;
    background: #fafafa;
}

.index_tab .container-tit ul {
    position: absolute;
    width: 300px;
    height: 35px;
}

.index_tab .container-tit li {
    float: left;
    width: 50%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    box-sizing: border-box;
}

.index_tab .container-tit li.select {
    background: #FFF;
    border-bottom-color: #FFF;
    padding: 0;
    font-weight: bolder;
}
.index_tab .container-tit li:first-child {
    border-right: 1px solid rgba(221, 221, 221, .5);
}
.index_tab .tab-container li a:link,
.index_tab .tab-container li a:visited,
.zhiboting .scrollDiv li a:link,
.zhiboting .scrollDiv li a:visited {
    text-decoration: none;
    color: #4a4a4a;
}

.index_tab .tab-container li a:hover,
.zhiboting .scrollDiv li a:hover {
    color: #cf3529;
}

.index_tab .container-con .mod {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.index_tab .container-con .mod ul li {
    height: 30px;
    font-size: 14px;
    overflow: hidden;
}

/* 右侧动态 3个图标 */

.index_tab .three-icon {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    border-top: 1px solid rgba(221, 221, 221, .5);
}
.index_tab .three-icon a {
    display: inline-block;
    width: 100%;
    height: 100px;
    text-decoration: none;
}
.index_tab .three-icon a:hover {
    background-color: #fafafa;
}
.index_tab .three-icon li {
    float: left;
    width: 33.3333%;
    height: 100px;
    text-align: center;
    border-right: 1px solid rgba(221, 221, 221, .5);
}
.index_tab .three-icon li:last-child {
    border-right: 0;
}
.index_tab .three-icon li .ico {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 20px auto 0 auto;
    border-radius: 50%;
    color: #fff;
    background: #cf3529;
}
.index_tab .three-icon li .ico .iconfont {
    font-size: 20px;
}
.index_tab .three-icon li .text {
    font-size: 12px;
    padding-top: 10px;
    color: #666;
}

/* 交易直播厅 */
.zhiboting {
    margin-left: -15px;
    margin-right: -15px;
    height: 200px;
    padding: 10px 20px;
    background: #fff; 
}
.zhiboting .title {
    height: 40px;
}
.zhiboting .title .iconfont {
    font-size: 20px;
}
.zhiboting .scrollDiv {
    width: 100%;
    height: 75px;
    min-height: 25px;
    overflow: hidden
}
.zhiboting .scrollDiv li {
    line-height: 25px;
    font-size: 14px;
}

.onlineNum {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    border-top: 1px rgba(221, 221, 221, .5) dashed;
    color: #666;
    font-size: 12px;
}
.onlineNum strong {
    font-size: 18px;
    color: #4a4a4a;
}

/* 7个图标 */
.seven-icon {
    width: 100%;
    height: 170px;
    background: #fff;
}
.seven-icon li {
    float: left;
    width: 14.2857%;
    height: 170px;
    border-right: 1px rgba(221, 221, 221, .5) solid;
}
.seven-icon li:last-child {
    border-right: 0;
}
.seven-icon li .iconbox {
    height: 80px;
    line-height: 80px;
    margin: 20px 0;
    text-align: center;
}
.seven-icon li .iconbox .iconfont {
    font-size: 60px;
}
.seven-icon li .name {
    line-height: 20px;
    text-align: center;
    font-size: 14px;
}
.seven-icon li a {
    display: inline-block;
    width: 100%;
    height: 170px;
    text-decoration: none;
}
.seven-icon li a:hover {
    background: #fdfdfd;
}
.seven-icon li a .name {
    color: #666;
}

/* 产品展示 */
.index-product-box {
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.index-product-box .title {
    height: 50px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    box-sizing: border-box;
}
.index-product-box .title span {
    padding-left: 20px;
    font-size: 12px;
    color: #999;
}
.index-product-box .title .more a {
    color: #999;
    text-decoration: none;
}
.index-product-box .product-con {
    position: relative;
    width: 100%;
    padding: 0 20px 30px 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.index-product-box .product-con li {
    float: left;
    width: 180px;
    margin-right: 16px;
    overflow: hidden;
}
.index-product-box .product-con li:last-child {
    margin-right: 0;
}
.index-product-box .product-con li>a {
    display: inline-block;
    text-decoration: none;
}
.index-product-box .product-con .imgbox {
    position: relative;
    width: 100%;
    height: 180px;
    text-align: center;
}
.index-product-box .product-con .imgbox img {
    width: 180px;
    height: 180px;
    border: 1px solid rgba(221, 221, 221, .4);
    vertical-align: top;
    box-sizing: border-box;
}
.index-product-box .product-con .imgbox .icon {
    position: absolute;
    top: -12px;
    right: 0;
    font-size: 50px;
    color: #4DCA69;
}
.index-product-box .product-con .pro-info {
    width: 100%;
    padding-top: 10px;
}
.index-product-box .product-con .pro-info .price {
    line-height: 22px;
    padding-top: 10px;
}
.index-product-box .price .p-num {
    font-size: 16px;
    color: #cf3529;
    font-weight: 500;
}
.index-product-box .price .p-num small {
    font-size: 12px;
}
.index-product-box .price .through-price {
    text-decoration: line-through;
    color: #9b9b9b;
    font-size: 12px;
}
.index-product-box .product-con li a .pro-info .name {
    line-height: 18px;
    font-size: 12px;
    color: #666;
}
.index-product-box .product-con li a:hover .pro-info .name {
    color: #cf3529;
}
.index-product-box .product-con li .pro-info .time {
    font-size: 12px;
    color: #999999;
}
.index-product-box .product-con li .pro-info .time .iconfont {
    font-size: 12px;
    margin-right: 2px;
}

/* 首页产品切换 */
.caseShow {
    height: 370px;
}
.index-product-box.caseShow .product-con li {
    height: 260px;
    overflow: auto;
}
.index-product-box.caseShow .product-con {
    /* height: 300px; */
    padding-bottom: 20px;
}
.main-container {
    padding: 20px;
    box-sizing: border-box;
}
.scroll-pruduct .title .hd .next,
.scroll-pruduct .title .hd .prev {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid rgba(221, 221, 221, .5);
    /* background: #ddd; */
    box-sizing: border-box;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}
.scroll-pruduct .title .hd .next:hover,
.scroll-pruduct .title .hd .prev:hover {
    border-color: rgba(221, 221, 221, .9);
}
.scroll-pruduct .title .hd .next:after,
.scroll-pruduct .title .hd .prev:after {
    position: absolute;
    top: 4px;
    content: "";
    border: 4px solid transparent;
}
.scroll-pruduct .title .hd .next:after {
    border-color: transparent #bbb transparent transparent;
}
.scroll-pruduct .title .hd .prev:after {
    left: 6px;
    border-color: transparent transparent transparent #bbb;
}
.scroll-pruduct ul.linebox {
    display:block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.scroll-pruduct .linebox li {
    display: inline-block;
    width: 20px;
    height: 4px;
    font-size: 0;
    background: #ddd;
    margin: 0 5px;
    cursor: pointer;
}
.scroll-pruduct .linebox li.on {
    background: #cf3529;
}


/* 专家咨询 */
.zhuanjia .title {
    margin: 0;
}
.zhuanjia-box {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.index-product-box.zhuanjia .zhuanjia-box {
    height: 350px;
}
.zhuanjia-box li {
    float: left;
    width: 33.3333%;
    height: 175px;
    padding: 20px;
    box-sizing: border-box;
}

.zhuanjia-box li.right-line {
    border-right: 1px solid rgba(221, 221, 221, .5);
}
.zhuanjia-box li.bottom-line {
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}
.zhuanjia-box .personalInfo {
    position: relative;
    height: 108px;
    padding-right: 84px;
}
.zhuanjia-box .personalInfo .avatar {
    position: absolute;
    top: 5px;
    right: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #eee;
    overflow: hidden;
}
.zhuanjia-box .personalInfo .avatar:after {
    position: absolute;
    left: 0;
    right: 0;
    content: "头像";
    line-height: 64px;
    text-align: center;
    color: rgba(0, 0, 0, .06);
}
.zhuanjia-box .personalInfo .text .name {
    line-height: 30px;
    margin: 0;
    color: #4a4a4a;
}
.zhuanjia-box .personalInfo .text p {
    line-height: 16px;
    padding: 4px 0;
    color: #9b9b9b;
    font-size: 12px;
}
.zhuanjia-box .personalInfo .lebal {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 12px;
    color: #666;
    background: rgba(74, 144, 226, .1);
}

/* 协作机构 */
.index-jigou .title {
    margin: 0;
}
.index-jigou-con {
    width: 100%;
    height: 200px;
    padding: 20px 10px;
    box-sizing: border-box;
}
.index-jigou-con ul {
    display: block;
    width: 100%;
    height: 160px;
}
.index-jigou-con li {
    float: left;
    width: 275px;
    height: 160px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid rgba(221, 221, 221, .5);
}
.index-jigou-con a.imgbox {
    width: 273px;
    height: 160px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    /* font-size: 90px; */
}
.index-jigou-con li img {
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
    max-height: 150px;
}
.index-jigou .linebox,
.jingjiren .linebox {
    margin-bottom: 20px;
}

.index-belt-road {
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
    background-color: #fff; 
}
.index-belt-road .name {
    margin: 0;
}
.index-belt-road .con {
    width: 100%;
    padding-top: 20px;
}
.index-belt-road p {
    width: 100%;
    overflow: hidden;
    text-align: justify;
    /* text-indent: 2rem; */
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #666;
}
.index-ad {
    width: 1200px;
    margin: 0 auto;
}
.index-ad .row {
    margin-left: -10px;
    margin-right: -10px;
}
.index-ad .row .col-lg-6 {
    padding-left: 10px;
    padding-right: 10px;
}

/* list页面代码 */

.sub-list-container {
    padding-top: 40px;
}
.view-category-list {
    width: 100%;
    background: #fafafa;
    color: #999;
    padding: 0;
    border: 3px dashed #f2f0db;
    overflow: hidden;
}
.view-category-list .list-item {
    border-bottom: 1px dashed rgba(221, 221, 221, .8);
    padding: 20px 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-left: 54px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.view-list2-con .view-category-list .list-item.list-item-1 {
   padding-left: 80px;
}
.view-list2-con .view-category-list .list-item.list-item-1 .title {
    margin-left: -80px;
}
.view-category-list .list-item:last-child {
    border-bottom: 0;
}
.view-category-list .list-item .title{
    float: left;
    padding-left: 24px;
    padding-top: 16px;
    margin-left: -50px;
    font-size: 14px;
}
.view-category-list .list-item ul {
    padding-left: 35px;
}
.view-category-list .list-item li {
    float: left;
    margin-right: 10px;
}
.view-category-list .list-item li {
    margin-top: 15px;
}
.view-category-list .list-item li a {
    padding: 5px 12px;
    border-radius: 35px;
    color: #333;
    border: 1px solid rgba(221, 221, 221, .5);
    transition: all 0.5s ease;
    font-size: 12px;
    text-decoration: none;
    background: #fff;
}
.jiathis_style_32x32 {
    height: 32px;
    margin-top: 23px;
    padding-left: 30px;
    overflow: hidden;
}
.jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style {
    border-right: 1px solid #ddd;
    border-radius: 4px;
}
.view-category-list .list-item li a:hover,
.view-category-list .list-item li.active a {
    cursor: pointer;
    color: #fff;
    border-color: #cf3529;
    background: #cf3529;
}
.sub-list-container .view-list-con {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}
.event-horizontal-list-new {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(221, 221, 221, .5);
    overflow: hidden;
    box-sizing: border-box;
}
.event-horizontal-list-new li {
    position: relative;
    margin-bottom: 0px;
    padding: 20px 0;
    /* border-top: 1px solid #dfdede; */
    border-bottom: 1px dashed #dfdede;
    font-size: 12px;
    color: #999;
}
.event-horizontal-list-new li:last-child {
    border-bottom: 0;
}
.event-horizontal-list-new li h3 {
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 18px;
}
.event-horizontal-list-new li h3 {
    padding-top: 15px;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.event-horizontal-list-new li h3 a,
.view-list2-con li h3 {
    max-width: 100%;
    color: #4FB0FF;
    font-size: 18px;
    font-weight: 400;
}
.event-horizontal-list-new li h3 a:hover,
.view-list2-con li h3 {
    color: #cf3529;
}
.event-info {
    font-size: 12px;
    color: #999;
    line-height: 30px;
}
.event-info .detailinfo span {
    display: inline-block;
    padding-right: 15px;
}
.event-info s {
    display: inline-block;
    position: relative;
    width: 84px;
    height: 30px;
    /* padding-left: 35px; */
    text-decoration: none;
    vertical-align: middle;
    background: url(../images/sprites.png)no-repeat;
}
/* .event-info s i {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background: url(../images/sprites.png)no-repeat;
} */
.event-info s.level1 {
    background-position: 0 -522px;
}
.event-info s.level2 {
    background-position: 0 -568px;
}
.event-info s.level3 {
    background-position: 0 -616px;
}
.event-info s.level4 {
    background-position: 0 -664px;
}
.event-info s.level5 {
    background-position: 0 -714px;
}
.event-info s.level6 {
    background-position: 0 -762px;
}
.event-info s.level7 {
    background-position: 0 -814px;
}
.event-horizontal-list-new li  .btn {
    background: #fff;
    color: #cf3529;
    border: 1px solid #cf3529;
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.event-horizontal-list-new li .btn:hover {
    background: #cf3529;
    color: #fff;
    border: 1px solid #cf3529;
}

.all-news,
.all-news-img {
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}
.all-news li {
    height: 40px;
    line-height: 40px;
    list-style-type: disc;
}
.all-news li a,
.all-news-img li a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 14px;
    
}
.all-news li a:hover,
.all-news-img li a:hover {
    color: #cf3529;
}
.all-news .title,
.all-news-img .title {
    line-height: 40px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}

.all-news-img li {
    display: block;
    height: 78px;
    padding-left: 110px;
    margin-top: 20px;
    overflow: hidden;
}
.all-news-img .imgleft {
    position: relative;
    float: left;
    width: 104px;
    height: 78px;
    margin-left: -110px;
    background: #eee;
}
.all-news-img .imgleft .no-img {
    line-height: 78px;
}
.all-news-img .imgleft img ~ .no-img {
    display: none;
}
.all-news-img .righttext {
    float: right;
    width: 100%;
    height: 78px;
}
.all-news-img .righttext .name {
    display: block;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    height: 54px;
    overflow: hidden;
}
.all-news-img .righttext .tag {
    display: block;
    width: 100%;
    padding-top: 4px;
    font-size: 12px;
    font-style: normal;
    color: #9b9b9b;
    text-align: right;
}

/* list 2 */
.view-list2-con .row {
    margin-left: -10px;
    margin-right: -10px;
}
.event-vertical-list-new {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.event-vertical-list-new li {
    float: left;
    overflow: hidden;
    margin-bottom: 40px;
}
.event-vertical-list-new li {
    border-color: #f5f5f5;
    transition: all 0.5s ease;
}
.event-vertical-list-new li .li-con {
    margin: 0 auto;
    border: 1px solid rgba(221, 221, 221, .5);
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
}
.huodong.event-vertical-list-new li {
    width: 33.3333%;
}
.huodong.event-vertical-list-new li .li-con {
    width: 274px;
}
.list2-con {
    padding-top: 15px;
}
.list2-con .selectLabel {
    display: inline-block;
    font-size: 14px;
    /* padding-top: 12px; */
}
.list2-con .form-control {
    display: inline-block;
    width: 150px;
}
.view-list2-con .view-category-list .list-item {
    padding-left: 20px;
}
.list2-con .form-control {
    /* padding: 4px 12px; */
    height: 24px;
    font-size: 12px;
}
.view-list2-con .imgbox {
    position: relative;
    display: block;
    width: 100%;
    height: 165px;
    background: #eee;
}
.view-list2-con .imgbox .no-img {
    line-height: 165px;
    font-size: 24px;
}
.view-list2-con .imgbox img {
    display: inline-block;
    width: 100%;
    /* height: 165px; */
    vertical-align: top;
}
.view-list2-con .imgbox img ~ .no-img {
    display: none;
}
.view-list2-con .event-info {
    padding: 10px 15px;
}
.view-list2-con li h3 {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}
.view-list2-con li h3 a {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 16px;
}
.view-list2-con li .info {
    height: 40px;
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}
.view-list2-con li .iconfont,
.view-list-con li .iconfont {
    margin-right: 2px;
}
.view-list2-con li .info .time {
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #9b9b9b;
}
.view-list2-con li .info .shoucang {
    height: 16px;
    line-height: 16px;
    margin-top: 7px;
}
.view-list2-con li .btnbox {
    width: 100%;
    padding-top: 20px;
}
.view-list2-con .event-vertical-list-new.huodong li .zb {
    /* padding: 10px 0; */
    position: relative;
    margin-top: 10px;
    padding-left: 50px;
    font-size: 12px;
}
.view-list2-con .event-vertical-list-new.huodong li .zb span {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    line-height: 16px;
}
.view-list2-con .event-vertical-list-new.huodong li .zb a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 16px;
}


/* list 内容详情页 */

.poi-detail {
    width: 100%;
    padding-bottom: 40px;
    border: 5px solid #f2f0db;
    background: #fafafa;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.poi-detail .seller-info-head {
    float: left;
    width: 730px;
    margin-right: 20px;
}
.poi-detail .seller-view {
    position: relative;
    float: right;
    width: 370px;
    height: 300px;
    background: #eee;
    border: 1px solid #ddd;
    overflow: hidden;
}
.poi-detail .seller-view .no-img {
    line-height: 280px;
    font-size: 32px;
}
.poi-detail .seller-view img~.no-img {
    display: none;
}
.poi-detail .seller-view img {
    width: 100%;
    vertical-align: top;
}
.poi-detail .seller-view .img-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, .8);
    box-sizing: border-box;
}
.poi-detail .seller-info-head .seller-name {
    font-size: 26px;
    font-weight: 500;
    color: #222;
}
.poi-detail .seller-info-head .zl {
    line-height: 40px;
    margin-bottom: 10px;
    color: #9b9b9b;
}
.poi-detail .seller-info-body {
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px dashed rgba(221, 221, 221, .5);
    border-bottom: 1px dashed rgba(221, 221, 221, .5);
}
.poi-detail .seller-info-body .item {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #666;
}
.poi-detail .seller-info-body .item span {
    float: left;
    /* display: inline-block; */
    width: 50%;
    height: 30px;
    line-height: 30px;
}
.jianjie {
    padding: 10px 0 0 80px;
    font-size: 14px;
    line-height: 30px;
}
.jianjie .title {
    float: left;
    margin-left: -80px;
}
.seller-btnbox {
    width: 100%;
    height: 34px;
    margin-top: 23px;
}
.seller-btnbox .btn:first-child {
    margin-right: 30px;
}
.detail-descript .huodongContainerTab {
    position: relative;
    height: 40px;
    background: #fafafa;
}
.detail-descript .huodongContainerTab ~ .xn-ds {
    border-top: none;
}
.detail-descript .huodongContainerTab:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(221, 221, 221, .5);
}
.detail-descript .huodongContainerTab li {
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
.detail-descript .huodongContainerTab li.active {
    /* background: #fff; */
    height: 40px;
    border-bottom: 2px solid #cf3529;
    box-sizing: border-box;
}
.detail-descript .huodongContainerTab li.active span {
    color: #cf3529;
    font-weight: 600;
    /* border: 0; */
}
.detail-descript .huodongContainerTab li span {
    font-size: 14px;
    padding: 0 40px;
    border-right: 1px dotted #ddd;
}
.detail-container,
.detail-descript .xn-ds {
    width: 100%;
    padding-top: 40px;
    overflow: hidden; 
}
.detail-descript .xn-ds:first-child {
    padding-top: 0;
}
.detail-descript ol {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}
.detail-descript .zhuanjia-box ul li {
    width: 50%;
}
.detail-descript .xn-ds {
    padding: 20px;
    font-size: 14px;
    border: 1px solid rgba(221, 221, 221, .5);
    margin-bottom: 20px;
    box-sizing: border-box;
}
.detail-descript .xn-ds > p {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 50px;
}
.detail-descript .title {
    line-height: 40px;
    font-size: 24px;
    color: #cf3529;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}
.detail-descript dl {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.detail-descript dl dt {
    padding-bottom: 10px;
}
.detail-descript dl dd {
    font-size: 18px;
    line-height: 50px;
}


/* 专家列表页面 */
.zhuanjia-container {
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
    
}

.zhuanjia-container .zhuanjieTab {
    height: 40px;
    margin-bottom: 60px;
}
.zhuanjia-container .zhuanjieTab ul {
    display: block;
    width: 100%;
    height: 40px;
}
.zhuanjia-container .zhuanjieTab li {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    border: 1px solid rgba(221, 221, 221, .5);
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.zhuanjia-container .zhuanjieTab li.active {
    background: #cf3529;
    border-color: #cf3529;
    color: #fff;
}
.zhuanjia-box {
    border: 1px solid rgba(221, 221, 221, .5);
    box-sizing: border-box;
    margin-bottom: 40px;
}

.zutuan-zhuanjia .event-vertical-list-new li {
    width: 25%;
}
.zutuan-zhuanjia .event-vertical-list-new .li-con {
    width: 272px;
    margin: 0 auto;
}
.huodong.event-vertical-list-new .li-con .imgbox {
    position: relative;
}
.huodong .li-con .imgbox .status {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 72px;
    z-index: 11;
}
.huodong .li-con .imgbox .status:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border: 35px solid transparent;  
    border-color: #fff #fff transparent transparent;
    z-index: -1;
}
.huodong .li-con .imgbox .status.jxz .iconfont {
    color: #05CC47;
}
.huodong .li-con .imgbox .status.yjs .iconfont {
    color: #999;
}
.huodong .li-con .imgbox .status .iconfont {
    font-size: 72px;
    margin: 0;
    line-height: 72px;
}

/* 拍卖 */

.sub-containerBox.paimai {
    padding: 180px 0 40px 0;
    background: #fff url(../images/paimai-banner.jpg) no-repeat center top;
}
.paimai .gonggao {
    padding-left: 100px;
    height: 50px;
    line-height: 48px;
    font-size: 12px;
    border-bottom: 2px solid rgba(221, 221, 221, .5);
}
.paimai .gonggao .title {
    float: left;
    margin-left: -80px;
    line-height: 48px;
    font-weight: 600;
}
.paimai .gonggao li {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
}
.paimai .paimai-tab {
    height: 50px;
    margin: 10px 0;
}
.paimai .paimai-tab li {
    display: inline-block;
    padding: 0 40px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.paimai .paimai-tab li.active {
    border-color: #cf3529;
}
.paimai .status {
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
}
.paimai .status span.statusLi {
    display: inline-block;
    margin-right: 20px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}
.paimai .status span.statusLi em {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.paimai .status span.statusLi:first-child em{
    background: #05CC47;
}
.paimai .status span.statusLi:nth-child(2) em {
    background: #4FB0FF;
}
.paimai .status span.statusLi:nth-child(3) em {
    background: #cf3529;
}
.paimai .status span.statusLi:nth-child(4) em {
    background: #333;
}
.paimai .paimai-form input {
    height: 28px;
    width: 200px;
}
.paimai .paimai-form .btn {
    height: 26px;
}
.paimai .table{
    font-size: 12px;
}

.paimai .table td,
.paimai .table th{
    padding: 1.4rem 0.3125rem;
    text-align: left;
}
.paimai .table td > a {
    color: #4FB0FF;
}
.sub-list-container.paimai .poi-detail .seller-info-body {
    border-bottom: 0;
}
.paimai .detail-descript ol {
    padding-left: 40px;
    box-sizing: border-box
}
.paimai .detail-descript ol li {
    line-height: 30px;
}
.paimai .seller-btnbox .sli {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.paimai .seller-btnbox .sli:first-child {
    padding-left: 0;
}
.paimai .seller-btnbox .sli:after {
    position: absolute;
    right: 0;
    top: 5px;
    content: "";
    height: 12px;
    border-right: 1px dashed rgba(221, 221, 221, .5);
}
.paimai .seller-btnbox .sli:last-child:after {
    display: none;
}


/* 政策信息库 */

.zcxxk-banner {
    height: 300px;
    background: url(../images/zcxxk-banner.jpg) center 0 no-repeat #fff;
}
.zcxxk-banner .linear {
    height: 300px;
    padding-top: 40px;
    background: -webkit-linear-gradient(to bottom, transparent, #fff);
    background: linear-gradient(to bottom, transparent, #fff);

}
.zcxxk-form {
    position: relative;
    display: block;
    width: 400px;
    padding-right: 69px;
    margin: 0px auto;
}
.zcxxk-form input {
    border-radius: 2px 0 0 2px;
    height: 32px;
}
.zcxxk-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 32px;
    border-radius: 0 2px 2px 0;
}

.zcxxk .shuaixuan {
    width: 800px;
    margin: 0 auto;
}
.zcxxk .shuaixuan ul {
    display: block;
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;
}
.zcxxk .shuaixuan li {
    position: relative;
    width: 100%;
    display: block;
    padding-left: 80px;
    font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
}
.zcxxk .shuaixuan li .title {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5px;
}
.zcxxk .shuaixuan li .con {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.zcxxk .shuaixuan li .con span {
    display: inline-block;
    line-height: 22px;
    padding: 0 10px;
    border: 1px solid rgba(221, 221, 221, .5);
    border-radius: 15px;
    background: #fff;
    margin-right: 10px;
}
.zcxxk .shuaixuan li .con span.active {
    background: #cf3529;
    border-color: #cf3529;
    color: #fff;
}
.zcxxk .table {
    font-size: 18px;
}
.zcxxk .table tr > td,
.zcxxk .table tr > th {
    padding: 15px 15px;
}
.zcxxk .table tr > td:first-child,
.zcxxk .table tr > th:first-child,
.zcxxk .table tr > td:last-child,
.zcxxk .table tr > th:last-child {
    text-align: center;
}


/* 感兴趣的 */
.ganxingqu {
    border: 1px solid rgba(221, 221, 221, .5);
    margin-bottom: 20px;
}
.ganxingqu .title {
    position: relative;
    height: 30px;
    background: #fafafa;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
}

.ganxingqu .title span {
    display: inline-block;
    line-height: 30px;
    padding-left: 10px;
    color: #999;
    font-size: 12px;
}
.ganxingqu ul {
    display: block;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.ganxingqu li {
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px dashed rgba(221, 221, 221, .3);
}
.ganxingqu li .imgbox {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    background: #eee;
}
.ganxingqu li .imgbox .no-img {
    line-height: 64px;
    font-size: 10px;
}
.ganxingqu li .imgbox img {
    width: 100%;
    vertical-align: top;
}
.ganxingqu li .imgbox img ~ .on-img {
    display: none;
}
.ganxingqu li .detail {
    margin-left: 74px;
    height: 80px;
    font-size: 12px;
}
.ganxingqu li .detail .name {
    height: 40px;
    padding-top: 2px;
    line-height: 16px;
    margin-bottom: 5px;
}
.ganxingqu li .privce {
    line-height: 16px;
    height: 16px;
}
.ganxingqu li .detail .name a {
    color: #4a4a4a;
}
.zhuanjia-box.sub-zhuanjia-box {
    border: 0;
}
.zhuanjia-box.sub-zhuanjia-box li {
    width: 360px;
    margin: 0 15px 30px 15px;
    border: 1px solid rgba(221, 221, 221, .5);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
}
.zhuanjia-box.sub-zhuanjia-box li:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
}
.sub-search {
    width: 100%;
    padding-top: 5px;
    height: 60px;
}
.sub-search form {
    float: right;
    padding-right: 15px;
    position: relative;
}
.sub-search form input{
    width: 260px;
    border: 1px solid;
    border-color: #CECECF;
    border-radius: 2px;
    padding: 8px 10px;
    background: white;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);

}
.sub-search form input:focus {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    outline: none;
}
.sub-search form button {
    position: absolute;
    right: 18px;
    top: 1px;
    border: 0;
    padding: 4px 10px;
    background: transparent;
    color: #999;
}
.sub-search form button:hover {
    background: transparent;
    color: #666;
}
.usuallyText a.weixin-login {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 30px;
    line-height: 20px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    background: #2dbe60;
    background: -moz-linear-gradient(top, #2dbe60 0%, #31ce49 50%, #2ec14e 51%, #2dbe60 100%);
    background: -webkit-linear-gradient(top, #2dbe60 0%, #31ce49 50%, #2ec14e 51%, #2dbe60 100%);
    background: linear-gradient(to bottom, #2dbe60 0%, #31ce49 50%, #2ec14e 51%, #2dbe60 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dbe60', endColorstr='#2dbe60', GradientType=0);
}
.usuallyText a.weixin-login i {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 20px;
    text-align: center;
    color: #2DBE60;
    border: 1px solid rgba(221, 221, 221, .5);
    border-radius: 2px 0 0 2px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}