/*! mobi.css v3.1.1 http://getmobicss.com */

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system,BlinkMacSystemFont,Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,微软雅黑,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Arial,STHeiti,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

address,
blockquote,
dl,
figure,
hr,
ol,
p,
pre,
table,
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

a {
    -webkit-text-decoration-skip: objects;
    color: #CF3529;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}

b,
dt,
strong {
    font-weight: 600;
}

code,
kbd,
samp {
    background-color: #f2f2f2;
    font-size: 85%;
    padding: 0.2em 0.3em;
}

code,
kbd,
pre,
samp {
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f2f2f2;
    line-height: 1.2;
    overflow: auto;
    padding: 0.9375rem;
}

pre,
pre code {
    font-size: 0.8125rem;
}

pre code {
    background-color: transparent;
    padding: 0;
}

blockquote {
    border-left: 5px solid #ddd;
    color: #777;
    padding-left: 0.9375rem;
}

dl,
dd,
dt,
ul,
img,
ol ol,
ol ul,
ul ol,
ul li {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}
img {
    border: 0;
}
small,
sub,
sup {
    font-size: 85%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.2em;
}

sup {
    top: -.4em;
}

address,
time {
    font-style: normal;
}

mark {
    background-color: #ff0;
    color: #333;
    padding: 0 0.2em;
}

rt {
    font-size: 60%;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

audio,
img,
video {
    max-width: 100%;
}

figcaption {
    color: #777;
    font-size: 85%;
}

[role=button] {
    cursor: pointer;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

::-webkit-file-upload-button,
[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
    appearance: button;
}

[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
}

[hidden] {
    display: none;
}
input::-webkit-input-placeholder {
    color: #ddd;
}

input:-ms-input-placeholder {
    color: #ddd;
}

input:-moz-placeholder {
    color: #ddd;
}

input::-moz-placeholder {
    color: #ddd;
}

fieldset {
    border: 1px solid #ddd;
    margin: 0.9375rem 0 0;
    padding: 0 0.9375rem 0.9375rem;
}

legend {
    padding: 0 0.2em;
}

optgroup {
    color: #777;
    font-style: normal;
    font-weight: 400;
}

option {
    color: #333;
}

progress {
    max-width: 100%;
}

.ptb40 {
    padding-top: 40px;
    padding-bottom: 40px; 
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.66666667%;
}
.col-lg-10 {
    width: 83.33333333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.66666667%;
}
.col-lg-7 {
    width: 58.33333333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.66666667%;
}
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.66666667%;
}
.col-lg-1 {
    width: 8.33333333%;
}
    

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.top-gap-big {
    margin-top: 1.875rem !important;
}

.top-gap {
    margin-top: 0.9375rem !important;
}

.top-gap-0 {
    margin-top: 0 !important;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .show-on-mobile {
        display: none !important;
    }
}

.table {
    background-color: #fff;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table caption {
    caption-side: bottom;
    color: #777;
    font-size: 85%;
}

.table caption,
.table td,
.table th {
    padding: 0.3125rem;
    text-align: left;
}
.table td,
.table th {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: 600;
}
.table-hover > tbody > tr:hover {
    background: #f1f1f1;
}

.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.0875rem;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.25;
    padding: 0.4125rem 1.025rem;
    text-align: center;
}
.btn.btn-sm {
    padding: 0 10px;
    border-radius: 0.0875rem;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
}

.btn:active,
.btn:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}

.btn[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.btn-primary {
    background-color: #267fd9;
    border-color: #267fd9;
    color: #fff;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #2273c3;
}

.btn-primary[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.btn-danger {
    background-color: #CF3529;
    border-color: #CF3529;
    color: #fff;
}

.btn-danger:active,
.btn-danger:hover {
    background-color: #d74242;
}

.btn-danger[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
.btn-danger-line {
    border-color: #CF3529;
    color: #CF3529;
}
.btn-danger-line:active,
.btn-danger-line:hover {
    background-color: #fff;
    border-color: #d74242;
    color: #d74242;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.form {
    margin: 0;
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}


.form [type=email],
.form [type=number],
.form [type=password],
.form [type=search],
.form [type=tel],
.form [type=text],
.form [type=url],
.form textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.1875rem;
    color: #333;
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.3125rem;
    width: 100%;
}

.form [type=email]:focus,
.form [type=number]:focus,
.form [type=password]:focus,
.form [type=search]:focus,
.form [type=tel]:focus,
.form [type=text]:focus,
.form [type=url]:focus,
.form select:focus,
.form textarea:focus {
    border-color: #bbb;
    outline: 0;
}

@media (max-width: 767px) {
    .form [type=date],
    .form [type=datetime-local],
    .form [type=month],
    .form [type=time],
    .form [type=week] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.1875rem;
        color: #333;
        display: block;
        line-height: 1.25;
        margin: 0.9375rem 0 0;
        padding: 0.3125rem;
        width: 100%;
    }
}


.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.scroll-view {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: #999;
}

.text-primary {
    color: #4FB0FF;
}

.text-danger {
    color: #CF3529;
}
.text-purple {
    color: #774FFF;
}
.text-green {
    color: #05CC47;
}
.text-orange {
    color: #F5A623;
}
.text-darkgreen {
    color: #3DE1CD;
}
.text-pink {
    color: #FF6399;
}

a.text-danger,
a.text-muted,
a.text-primary {
    text-decoration: none;
}

.text-small {
    font-size: 85%;
}

/* topnav css style */

.topNav {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    font-size: 12px;
    background-color: #fff;
}
.topNav .language .active {
    color: #CF3529;
    font-weight: 600;
}
.topNav .language a {
    padding: 0 .2rem;
    color: #666;
}
.topNav .language a:first-child {
    padding-left: 0;
}
.topNav .infomation {
    height: 35px;
    text-align: right;
    color: #666;
}
.infomation .usuallyText {
    position: relative;
    float: left;
    padding: 0 .8rem;
}
.infomation .usuallyText.arrow {
    width: 84px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
}
.infomation .usuallyText:after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 1px;
    height: 11px;
    background: rgba(0, 0, 0, .1);
}
.infomation .usuallyText a {
    color: #666;
}
.infomation .usuallyText.registerText a {
    color: #CF3529;
}
.infomation .usuallyText:last-child:after {
    display: none;
}
.infomation .usuallyText:last-child {
    padding-right: 0;
}
.infomation .usuallyText.arrow em {
    font-style: normal;
}
.infomation span:hover.usuallyText.arrow {
    background-color: #fff;
    border-left: 1px solid rgba(221, 221, 221, .5);
    border-right: 1px solid rgba(221, 221, 221, .5);
}
.infomation span:hover.usuallyText.arrow:after {
    display: none;
}
.infomation span:hover.usuallyText.arrow em {
    color: #CF3529;
}
.infomation .usuallyText .arrowMenu {
    position: absolute;
    left: -1px;
    top: 35px;
    /* max-width: 84px; */
    width: 120px;
    border: 1px solid rgba(221, 221, 221, .5);
    border-top: 0;
    text-align: left;
    box-sizing: border-box;
    z-index: 11;
    display: none;
}
.infomation .usuallyText .arrowMenu ul {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #fff;
}
.infomation .usuallyText .arrowMenu li {
    padding-left: 15px;
    line-height: 30px;
}
.infomation .usuallyText .arrowMenu li:hover {
    background-color: #fafafa;
}
.shadowbox {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
}
.text-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-whitespace {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 通用logo */
.logo.textLogo {
    height: 68px;
}

.logo.textLogo a {
    display: block;
    width: 100%;
    height: 68px;
    text-decoration: none;
    color: #4a4a4a;
}

.logo.textLogo .imgbox {
    display: inline-block;
    width: 192px;
    height: 68px;
}

.logo.textLogo .logoText {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 14px 0;
    padding-left: 40px;
    font-size: 20px;
}

.logo.textLogo .logoText:after {
    position: absolute;
    top: 0;
    left: 20px;
    content: "";
    width: 1px;
    height: 100%;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(top left, #fff, #bbb, #fff);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(top left, #fff, #bbb, #fff);
    /* firefox */
    background-image: -ms-linear-gradient(top left, #fff, #bbb, #fff);
    /* IE */
    background-image: linear-gradient(top left, #fff, #bbb, #fff);
}

/* 通用底部 */
/* footer */

.footer {
    width: 100%;
    height: 205px;
    padding: 20px 0;
    background-color: #121212;
}

.footer .footLink {
    position: relative;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.footer .footLink .arrow {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    background-color: #121212;
    color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.footer .footLink .arrow.prev {
    left: 0;
}

.footer .footLink .arrow.next {
    right: 0;
}

.footer .footLink .arrow:hover {
    color: rgba(255, 255, 255, .8);
}

.footer .footLink .f-img-con,
.footer .footLink .f-img-con li a {
    display: block;
    width: 100%;
    height: 55px;
}

.footer .footLink .f-img-con li {
    float: left;
    width: 126px;
    height: 55px;
    margin: 0 10px;
    box-sizing: border-box;
}

.footer .footLink .f-img-con li a {
    background-color: #fff;
    text-decoration: none;
}

.footer .footText {
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.footer .footText a {
    padding: 0 6px;
    margin: 0 6px 0 3px;
    color: #666;
    text-decoration: none;
}

.footer .copy {
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
}

.footer .copy .beian {
    position: relative;
    display: inline-block;
    height: 40px;
    padding-left: 25px;
    margin-left: 20px;
}

.footer .copy .beian i {
    position: absolute;
    top: 11px;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer .copy .beian i img {
    width: 100%;
    vertical-align: top;
}

.footer .line {
    position: relative;
    height: 165px;
}

.footer .line:after {
    position: absolute;
    top: 0;
    left: 10px;
    content: "";
    width: 1px;
    height: 100%;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(top left, #121212, #222, #121212);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(top left, #121212, #222, #121212);
    /* firefox */
    background-image: -ms-linear-gradient(top left, #121212, #222, #121212);
    /* IE */
    background-image: linear-gradient(top left, #121212, #222, #121212);
}

.footer .f-contact {
    padding-left: 40px;
    font-size: 14px;
}

.footer .f-contact dl {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.footer .f-contact dt {
    float: left;
}

.footer .f-contact dd {
    padding-left: 50px;
    color: #4a4a4a;
}

.sectionBox {
    width: 100%;
    padding-top: 15px;
}
.sub-footer {
    margin-top: 40px;
}
.sub-containerBox {
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
}