/*! mobi.css v3.1.1 http://getmobicss.com */

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system,BlinkMacSystemFont,Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,微软雅黑,Oxygen-Sans,Ubuntu,Cantarell,Helvetica,Arial,STHeiti,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

address,
blockquote,
dl,
figure,
hr,
ol,
p,
pre,
table,
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

a {
    -webkit-text-decoration-skip: objects;
    color: #CF3529;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}

b,
dt,
strong {
    font-weight: 600;
}

code,
kbd,
samp {
    background-color: #f2f2f2;
    font-size: 85%;
    padding: 0.2em 0.3em;
}

code,
kbd,
pre,
samp {
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f2f2f2;
    line-height: 1.2;
    overflow: auto;
    padding: 0.9375rem;
}

pre,
pre code {
    font-size: 0.8125rem;
}

pre code {
    background-color: transparent;
    padding: 0;
}

blockquote {
    border-left: 4px solid #eee;
    color: #777;
    padding-left: 0.9375rem;
}
blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
    font-style: normal;
}
blockquote > .name {
    margin: 0 0 10px;
    color: #333;
}
blockquote footer::before {
    content: "\2014 \00A0";
    color: #ddd;
}
blockquote ~ blockquote {
    margin-top: 2rem;
}

dl,
dd,
dt,
ul,
img,
ol ol,
ol ul,
ul ol,
ul li {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}
img {
    border: 0;
}
small,
sub,
sup {
    font-size: 85%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.2em;
}

sup {
    top: -.4em;
}

address,
time {
    font-style: normal;
}

mark {
    background-color: #ff0;
    color: #333;
    padding: 0 0.2em;
}

rt {
    font-size: 60%;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

audio,
img,
video {
    max-width: 100%;
}

figcaption {
    color: #777;
    font-size: 85%;
}

[role=button] {
    cursor: pointer;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
}

[hidden] {
    display: none;
}
input::-webkit-input-placeholder {
    color: #ddd;
}

input:-ms-input-placeholder {
    color: #ddd;
}

input:-moz-placeholder {
    color: #ddd;
}

input::-moz-placeholder {
    color: #ddd;
}

fieldset {
    border: 1px solid #ddd;
    margin: 0.9375rem 0 0;
    padding: 0 0.9375rem 0.9375rem;
}

legend {
    padding: 0 0.2em;
}

optgroup {
    color: #777;
    font-style: normal;
    font-weight: 400;
}

option {
    color: #333;
}

progress {
    max-width: 100%;
}

.ptb40 {
    padding-top: 40px;
    padding-bottom: 40px; 
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.66666667%;
}
.col-lg-10 {
    width: 83.33333333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.66666667%;
}
.col-lg-7 {
    width: 58.33333333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.66666667%;
}
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.66666667%;
}
.col-lg-1 {
    width: 8.33333333%;
}
    

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.top-gap-big {
    margin-top: 1.875rem !important;
}

.top-gap {
    margin-top: 0.9375rem !important;
}

.top-gap-0 {
    margin-top: 0 !important;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .show-on-mobile {
        display: none !important;
    }
}

.table {
    background-color: #fff;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table caption {
    color: #777;
    font-size: 85%;
}

.table caption,
.table td,
.table th {
    padding: 0.3125rem;
    text-align: left;
}
.table td,
.table th {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: 600;
}
.table-hover > tbody > tr:hover {
    background: #f1f1f1;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}


.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.0875rem;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.25;
    padding: 0.4125rem 1.025rem;
    text-align: center;
    transition: color .3s ease-in-out,background .3s ease-in-out;
}
.btn.btn-sm {
    padding: 0 10px;
    border-radius: 0.0875rem;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
}

.btn-hollow {
    /* padding: 4px 12px; */
    /* font-size: 12px; */
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: none;
}

.btn:active,
.btn:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}

.btn-primary {
    background-color: #267fd9;
    border-color: #267fd9;
    color: #fff;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #2273c3;
}

.btn[disabled],
.btn-primary[disabled],
.btn-danger[disabled],
.btn-orange[disabled],
.button[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
.btn-orange {
    background-color: #ff6f06;
    border-color: #ff6f06;
    color: #fff;
}
.btn-orange:active,
.btn-orange:hover {
    background-color: #ff5000;
}
.btn-danger {
    background-color: #CF3529;
    border-color: #CF3529;
    color: #fff;
}

.btn-danger:active,
.btn-danger:hover {
    background-color: #d74242;
}

.btn-danger-line {
    border-color: #CF3529;
    color: #CF3529;
}
.btn-danger-line:active,
.btn-danger-line:hover {
    background-color: #fff;
    border-color: #d74242;
    color: #d74242;
}
.btn-white-line {
    color: #fff;
}
.btn-white-line:hover {
    background: #fff;
    color: #333;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-radius {
    border-radius: 100px !important;
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button.big {
   padding: .6em 3em;
   font-size: 18px;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.button.orange {
	color: #fef4e9;
	border: solid 1px #ff5000;
	background: #ff5000;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6f06), to(#ff5000));
	background: -moz-linear-gradient(top,  #ff6f06,  #ff5000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f06', endColorstr='#ff5000');
}
.button.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff5000), to(#ff6f06));
	background: -moz-linear-gradient(top,  #ff5000,  #ff6f06);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5000', endColorstr='#ff6f06');
}
/* blue */

.button.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.button.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.button.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.ui.steps,
.ui-step-wrap .ui-step {
    width: 100%;
    margin: 1em 0;
    
    box-sizing: border-box;

    display: -webkit-box; 
    display: -webkit-flex;
    display: flex;
}
.ui.steps {
    height: 42px;
    line-height: 1.14285714em;
    border-radius: .28571429rem;
    border: 1px solid rgba(0, 0, 0, .1);
}

.ui.steps:last-child {
    margin-bottom: 0;
}

.ui.steps .step,
.ui-step-wrap .ui-step .ui-step-item { 
    position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	width: 0%;

	-webkit-box-flex: 1;
	-webkit-flex 1;
	flex: 1;
}
.ui.steps .step {
    height: 40px;
    margin: 0;
    padding: 5px 1em;
    background: #FFF;
    color: rgba(0, 0, 0, .87);
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-right: 1px solid rgba(34, 36, 38, .15);
}

.ui.step,
.ui.steps .step {
    font-size: 1rem;
}
.ui.steps .step .content {
    line-height: 30px;
}
.ui.steps .step.active {
    cursor: auto;
    background: #F3F4F5;
}
.ui.steps .step:last-child {
    border-radius: 0 .28571429rem .28571429rem 0;
    border-right: none;
    margin-right: 0;
}

.ui.steps .disabled.step {
    cursor: auto;
    background: #FFF;
    pointer-events: none;
}

.ui.steps .disabled.step,
.ui.steps .disabled.step .description,
.ui.steps .disabled.step .title {
    color: rgba(40, 40, 40, .3);
}
.ui.ordered.steps .step.completed:before,
.ui.steps .step.completed>.icon:before {
    color: #21BA45;
    font-family: "iconfont" !important;
    content: '&#xe665';
}
.ui.steps .step:after {
    position: absolute;
    z-index: 2;
    content: '';
    top: 50%;
    right: 0;
    border: solid;
    background-color: #FFF;
    width: 1.14285714em;
    height: 1.14285714em;
    border-color: rgba(34, 36, 38, .15);
    border-width: 0 1px 1px 0;
    -webkit-transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
    transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
}
.ui.steps .active.step:after,
.ui.steps .step:after {
    display: block;
}
.ui.steps .step.active:after {
    background: #F3F4F5;
}
.ui.steps .step .title {
    font-size: 12px;
    font-weight: 700;
}
.ui.steps .step .icon-num {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #05CC47;
    text-align: center;
    line-height: 16px;
    font-style: normal;
    color: #fff;
}
.ui.steps .active.step .iconfont {
    color: #4FB0FF;
}
.ui.steps .step:last-child:after {
    display: none;
}

/* primary */
.ui.steps.primary {
    border-color: #00b8f5;
}
.ui.steps.primary .step {
    background: #00b8f5;
    color: #fff;
    border-color: #fff;
}
.ui.steps.primary .step::after {
    background: #00b8f5;
    border-color: rgba(255, 255, 255, 1);
}
.ui.steps.primary .step .icon-num {
    background: #fff;
    color: #4FB0FF;
}

/* 步骤2 */
.ui-step-wrap {
    position: relative;
    margin: 2rem 0;
}
.ui-step-wrap .ui-step {
    position: relative;
    z-index: 1;
    list-style: none;
}
.ui-step-wrap .ui-step-line {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.ui-step-wrap .ui-step .ui-step-item {
    position: relative;
    text-align: center;
}
.ui-step-wrap .ui-step .ui-step-item-title {
    font-size: 12px;
    padding: 10px 20px;
    color: #bbb;
}
.ui-step-item .ui-step-item-num {
    height: 30px;
}
.ui-step-item .ui-step-item-num .line {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 1;
}

/* green */
.ui-step-item.green.completed .ui-step-item-num .line,
.ui-step-item.green.completed .ui-step-item-num span {
    background: #05CC47;
    color: #fff;
}
.ui-step-wrap.green .ui-step-item .ui-step-item-num span,
.ui-step-wrap.green .ui-step-item.orange.completed .ui-step-item-num .line {
    background: #05CC47 !important;
}
.ui-step-wrap.green .ui-step-line {
    background: #05CC47;
}

/* orange */
.ui-step-item.orange.completed .ui-step-item-num .line,
.ui-step-item.orange.completed .ui-step-item-num span {
    background: #ff6f06;
    color: #fff;
}
.ui-step-wrap.orange .ui-step-item .ui-step-item-num span,
.ui-step-wrap.orange .ui-step-item.green.completed .ui-step-item-num .line {
    background: #ff6f06 !important;
    color: #fff;
}
.ui-step-wrap.orange .ui-step-line {
    background: #ff6f06;
}
.ui-step-wrap.orange .ui-step-item .ui-step-item-num span,
.ui-step-wrap.green .ui-step-item .ui-step-item-num span {
    color: #fff;
}

.ui-step-wrap.green .ui-step-item .ui-step-item-title,
.ui-step-wrap.orange .ui-step-item .ui-step-item-title,
.ui-step-item.completed .ui-step-item-title {
    color: #333;
}

.ui-step-wrap .ui-step .ui-step-item.completed:first-child .ui-step-item-num .line {
    border-radius: 14px 0 0 14px;
}
.ui-step-wrap .ui-step .ui-step-item.completed:last-child .ui-step-item-num .line {
    border-radius: 0 14px 14px 0;
}
.ui-step-item .ui-step-item-num span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    z-index: 10;
}







.label {
    display: inline;
    padding: .3em 1em;
    font-size: 75%;
    line-height: 1;
    background: rgba(0, 0, 0, .15);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 25em;
}
.label.green {
    background: #05CC47;
}

.form {
    margin: 0;
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}


.form [type=email],
.form [type=number],
.form [type=password],
.form [type=search],
.form [type=tel],
.form [type=text],
.form [type=url],
.form textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.1875rem;
    color: #333;
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.3125rem;
    width: 100%;
}

.form [type=email]:focus,
.form [type=number]:focus,
.form [type=password]:focus,
.form [type=search]:focus,
.form [type=tel]:focus,
.form [type=text]:focus,
.form [type=url]:focus,
.form select:focus,
.form textarea:focus {
    border-color: #bbb;
    outline: 0;
}

@media (max-width: 767px) {
    .form [type=date],
    .form [type=datetime-local],
    .form [type=month],
    .form [type=time],
    .form [type=week] {
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.1875rem;
        color: #333;
        display: block;
        line-height: 1.25;
        margin: 0.9375rem 0 0;
        padding: 0.3125rem;
        width: 100%;
    }
}


.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control,
.formContainer .form .input-box[disabled] {
    background-color: #eee;
    opacity: 1;
}
.form-control.input-sm {
    height: 26px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
select.input-sm {
    height: 26px;
    /* line-height: 30px; */
}
.scroll-view {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: #999;
}

.text-primary {
    color: #4FB0FF;
}

.text-danger {
    color: #CF3529;
}
.text-purple {
    color: #774FFF;
}
.text-green {
    color: rgb(5, 204, 71) !important;
}
.text-orange {
    color: #ff5000;
}
.text-darkgreen {
    color: #3DE1CD;
}
.text-pink {
    color: #FF6399;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.text-danger,
a.text-muted,
a.text-primary {
    text-decoration: none;
}

.text-small {
    font-size: 85%;
}
.ui-nowrap-multi {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.ui-whitespace {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container-mini {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
/* topnav css style */

.topNav {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    font-size: 12px;
    background-color: #fff;
}
.topNav .language .active {
    color: #CF3529;
    font-weight: 600;
}
.topNav .language a {
    padding: 0 .2rem;
    color: #666;
    line-height: 35px;
}
.topNav .language a:first-child {
    padding-left: 0;
}
.topNav .infomation {
    height: 35px;
    text-align: right;
    color: #666;
}
.infomation .usuallyText {
    position: relative;
    float: left;
    line-height: 35px;
    padding: 0 .8rem;
}
.infomation .usuallyText a.username {
    color: #CF3529;
    text-decoration: none;
    margin-right: 10px;
}
.infomation .usuallyText.arrow {
    position: relative;
    /* width: 84px; */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
}
.infomation .usuallyText:after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 1px;
    height: 11px;
    background: rgba(0, 0, 0, .1);
}
.infomation .usuallyText a {
    color: #666;
}
.infomation .usuallyText.registerText a {
    color: #CF3529;
}
.infomation .usuallyText:last-child:after {
    display: none;
}
.infomation .usuallyText:last-child {
    padding-right: 0;
}
.infomation .usuallyText.arrow em {
    /* position: absolute; */
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-style: normal;
    vertical-align: top;
}
.infomation span:hover.usuallyText.arrow {
    background-color: #fff;
    border-left: 1px solid rgba(221, 221, 221, .5);
    border-right: 1px solid rgba(221, 221, 221, .5);
}
.infomation span:hover.usuallyText.arrow:after {
    display: none;
}
.infomation span:hover.usuallyText.arrow em {
    color: #CF3529;
}
.infomation .usuallyText .arrowMenu {
    position: absolute;
    left: -1px;
    top: 35px;
    width: 120px;
    border: 1px solid rgba(221, 221, 221, .5);
    border-top: 0;
    text-align: left;
    box-sizing: border-box;
    z-index: 11;
    display: none;
}
.infomation .usuallyText .arrowMenu ul {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #fff;
}
.infomation .usuallyText .arrowMenu li {
    padding-left: 15px;
    line-height: 30px;
}
.infomation .usuallyText .arrowMenu li:hover {
    background-color: #fafafa;
}
.infomation .message a {
    position: relative;
    display: inline-block;
    padding-left: 1.1rem;
    text-decoration: none;
}
.infomation .message a:hover {
    color: #cf3529;
}
.infomation .message .message-span {
    position: absolute;
    left: 0;
    top: 8px;
    height: 16px;
    line-height: 16px;
}
.infomation .message .message-span em {
    display: none;
}
.infomation .message .message-span.new em {
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 1px;
    background: #cf3529;
}
.shadowbox {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
}
.text-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-whitespace {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 通用logo */
.logo.textLogo {
    height: 68px;
}

.logo.textLogo a {
    display: block;
    width: 100%;
    height: 68px;
    text-decoration: none;
    color: #4a4a4a;
}

.logo.textLogo .imgbox {
    display: inline-block;
    width: 192px;
    height: 68px;
}

.logo.textLogo .logoText {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 14px 0;
    padding-left: 40px;
    font-size: 20px;
}

.logo.textLogo .logoText:after {
    position: absolute;
    top: 0;
    left: 20px;
    content: "";
    width: 1px;
    height: 100%;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(top left, #fff, #bbb, #fff);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(top left, #fff, #bbb, #fff);
    /* firefox */
    background-image: -ms-linear-gradient(top left, #fff, #bbb, #fff);
    /* IE */
    background-image: linear-gradient(top left, #fff, #bbb, #fff);
}

/* 通用底部 */
/* footer */

.footer {
    width: 100%;
    height: 205px;
    padding: 20px 0;
    background-color: #121212;
}

.footer .footLink {
    position: relative;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.footer .footLink .arrow {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 30px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    background-color: #121212;
    color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.footer .footLink .arrow.prev {
    left: 0;
}

.footer .footLink .arrow.next {
    right: 0;
}

.footer .footLink .arrow:hover {
    color: rgba(255, 255, 255, .8);
}

.footer .footLink .f-img-con,
.footer .footLink .f-img-con li a {
    display: block;
    width: 100%;
    height: 55px;
}

.footer .footLink .f-img-con li {
    float: left;
    width: 126px;
    height: 55px;
    margin: 0 10px;
    box-sizing: border-box;
}

.footer .footLink .f-img-con li a {
    background-color: #fff;
    text-decoration: none;
}

.footer .footText {
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.footer .footText a {
    padding: 0 6px;
    margin: 0 6px 0 3px;
    color: #666;
    text-decoration: none;
}

.footer .copy {
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
}

.footer .copy .beian {
    position: relative;
    display: inline-block;
    height: 40px;
    padding-left: 25px;
    margin-left: 20px;
}

.footer .copy .beian i {
    position: absolute;
    top: 11px;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer .copy .beian i img {
    width: 100%;
    vertical-align: top;
}

.footer .line {
    position: relative;
    height: 165px;
}

.footer .line:after {
    position: absolute;
    top: 0;
    left: 10px;
    content: "";
    width: 1px;
    height: 100%;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(top left, #121212, #222, #121212);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(top left, #121212, #222, #121212);
    /* firefox */
    background-image: -ms-linear-gradient(top left, #121212, #222, #121212);
    /* IE */
    background-image: linear-gradient(top left, #121212, #222, #121212);
}

.footer .f-contact {
    padding-left: 40px;
    font-size: 14px;
}

.footer .f-contact dl {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.footer .f-contact dt {
    float: left;
}

.footer .f-contact dd {
    padding-left: 50px;
    color: #4a4a4a;
}

.sectionBox {
    width: 100%;
    padding-top: 15px;
}
.sub-footer {
    margin-top: 40px;
}
.sub-containerBox {
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

/*page*/

.page {
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
    box-sizing: border-box;
}

.page a {
    display: inline-block;
    line-height: 24px;
    text-align: center;
    border: 1px solid #eee;
    margin-right: 10px;
    text-decoration: none;
    color: #999;
    box-sizing: border-box;
}

.page a:hover {
    border: 1px solid #ddd;
    color: #666;
}

.page .num {
    width: 24px;
}

.page .active {
    border: 1px solid #cf3529;
    background: #cf3529;
    color: #fff;
}

.page a:hover.active {
    color: #fff;
    border-color: #cf3529;
}

.page .next,
.page .prev,
.page .all {
    padding: 0 8px;
}
.ad-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

/* 面包屑 */
.breadcrumb {
    padding: 15px 0;
    font-size: 12px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/";
}

/* 没有图片显示文字 */
.no-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    color: #ddd;
}

.no-data-box {
    width: 100%;
    height: 400px;
    padding: 100px 0;
    text-align: center;
    color: #ddd;
}
.no-data img {
    width: 150px;
}
.data-404 img {
    width: 300px;
}

/* 右侧悬浮菜单 */

.cndns-right {
    position: fixed;
    right: 15px;
    top: 50%;
    margin-top: -150px;
    z-index: 100
}

.cndns-right-meau {
    position: relative;
}

.cndns-right-btn {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    margin-bottom: 6px;
    position: relative;
    background-color: #fff;
}
.cndns-right-btn:hover {
    text-decoration: none;
}
a.cndns-right-btn i {
    display: inline-block;
    margin-top: 5px;
    color: #999;
    font-size: 24px;
}
.cndns-right-btn p {
    text-decoration: none;
}

.cndns-right-btn span {
    color: #848484;
    font-size: 26px;
    line-height: 48px;
}

.cndns-right-btn p {
    color: #cf3529;
    font-size: 14px;
    line-height: 18px;
    padding-top: 5px;
    text-align: center;
    display: none;
}

.cndns-right-meau:hover .cndns-right-btn i {
    display: none
}

.cndns-right-meau:hover .cndns-right-btn p {
    display: block;
}

.meau-car .cndns-right-btn {
    border-color: #cf3529;
    margin-bottom: 20px;
}

.meau-car.cndns-right-meau:hover .cndns-right-btn {
    background-color: #cf3529;
}

.meau-car.cndns-right-meau:hover .cndns-right-btn span {
    color: #fff;
    display: block;
}

.meau-car .cndns-right-btn span {
    color: #cf3529;
}

.meau-sev .cndns-right-btn p {
    color: #fff
}

.meau-sev .cndns-right-btn span {
    color: #fff
}

.meau-top .cndns-right-btn em {
    display: block;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #999
}
.meau-top .cndns-right-btn i.icon {
    font-size: 16px;
    margin-top: 2px;
    display: inline-block;
}

.meau-top.cndns-right-meau:hover .cndns-right-btn {
    background-color: #cf3529;
}

.meau-top.cndns-right-meau:hover .cndns-right-btn i {
    display: block;
    color: #fff
}

.meau-top.cndns-right-meau:hover .cndns-right-btn em {
    color: #fff;
}

.cndns-right-box {
    position: absolute;
    top: -15px;
    right: 48px;
    padding-right: 25px;
    display: none;
}

.cndns-right-box .box-border {
    border: 1px solid #ccc;
    border-top: 4px solid #cf3529;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    position: relative
}

.cndns-right-box .box-border .arrow-right {
    display: block;
    width: 13px;
    height: 16px;
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    right: -13px;
    top: 26px;
}

.cndns-right-box .box-border .sev-t i.icon {
    font-size: 42px;
    float: left;
    display: block;
    line-height: 56px;
    margin-right: 20px;
    color: #d3d3d3
}

.cndns-right-box .box-border .sev-t p {
    float: left;
    color: #cf3529;
    font-size: 20px;
    line-height: 28px;
}

.cndns-right-box .box-border .sev-t p i {
    display: block;
    font-size: 14px;
    color: #aaa;
    font-style: normal;
}

.cndns-right-box .box-border .sev-b {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #e4e4e4
}

.cndns-right-box .box-border .sev-b h4 {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 15px;
}
.cndns-right-box .box-border .sev-b textarea {
    height: 100px;
}
.cndns-right-box .box-border .btnbox {
    height: 40px;
    margin-top: 10px;
    text-align: right;
}


.meau-sev .cndns-right-box .box-border {
    width: 430px;
}

.meau-contact .cndns-right-box .box-border {
    width: 250px;
}
.sev-t {
    width: 100%;
    overflow: hidden;
}

.cndns-right-meau:hover .cndns-right-box {
    display: block
}

.meau-code .cndns-right-box {
    top: inherit;
    bottom: -35px;
}

.meau-code .cndns-right-box .box-border {
    width: 156px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.meau-code .cndns-right-box .box-border i {
    display: block;
    color: #f66e06;
    font-size: 12px;
    line-height: 26px;
    font-style: normal;
}

.meau-code .cndns-right-box .box-border .arrow-right {
    top: inherit;
    bottom: 50px;
}

.meau-sev .cndns-right-btn .demo-icon {
    display: none;
}

.meau-sev:hover .cndns-right-btn {
    background: #cf3529;
}

.meau-zs .cndns-right-btn {
    background-color: #cf3529;
    color: #fff;
    margin-top: 80px;
    border-color: #cf3529;
}

.meau-zs .cndns-right-btn span {
    color: #fff
}

.meau-zs .cndns-right-btn p {
    color: #fff
}


/* panel */

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}
.panel-body {
    padding: 15px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    height: 580px;
    padding-right: 50px;
    margin: -290px 0 0 -350px;
    z-index: 1060;
    vertical-align: middle;
}
.modal-content .imgbox {
    position: relative;
    width: 100%;
    height: 540px;
    background: url(../img/vo60_alert.png) no-repeat;
    background-size: cover;
}
.modal-content .imgbox img {
    width: 100%;
    vertical-align: middle;
}
.modal-content .imgbox .btnbox {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 320px;
    height: 70px;
    margin-left: -160px;
    /* background: #fff; */
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1051; */
    background-color: rgba(0, 0, 0, .67);
}
.modal-content .close {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 50px;
    height: 50px;
}
.modal-content .close .iconfont {
    font-size: 24px;
    font-weight: 100;
    /* color: rgba(255, 255, 255, 0.6); */
    /* color: rgba(0, 0, 0, .87); */
}