body {
    background-color: #f6f6f6;
}
.header {
    border-bottom: 2px solid #cf3529;
    background-color: #fff;
}
.sub-headcontainer {
    padding: 20px 0;
}
.sub-headcontainer .sub-nav {
    height: 30px;
    line-height: 30px;
    margin: 19px 0;
    text-align: right;
}
.sub-headcontainer .sub-nav li {
    display: inline-block;
    line-height: 30px;
    padding: 0 1rem;
}
.sub-headcontainer .sub-nav li:last-child {
    padding-right: 0;
}
.sub-headcontainer .sub-nav li a {
    color: #4a4a4a;
    text-decoration: none;
}
.sub-headcontainer .sub-nav li a.active {
    color: #cf3529;
}

/* banner */
.bannerContainer {
    width: 100%;
    height: 265px;
    background: -webkit-linear-gradient(to top, #ba764f, #d3a17c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ba764f, #d3a17c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.bannerContainer .imgbox {
    width: 100%;
    height: 265px;
    background: url("../images/sub-banner.png") no-repeat center;
}

.sub-news-container {
    padding: 20px;
    box-sizing: border-box;
}
.sub-news-container ul,
.sub-news-container {
    display: block;
    width: 100%;
    overflow: hidden;
}
.sub-news-container li {
    display: block;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    overflow: hidden;
}
.sub-news-container li .imgbox {
    position: relative;
    float: left;
    width: 160px;
    height: 120px;
    background: #eee;
}
.sub-news-container li .imgbox:after {
    position: absolute;
    left: 20px;
    content: "新疆分中心";
    line-height: 120px;
    font-size: 24px;
    color: #ddd;
    z-index: 0;
}
.sub-news-container li .imgbox img {
    position: relative;
    width: 100%;
    z-index: 2;
}
.sub-news-container li .textCon {
    float: right;
    width: 100%;
    height: 120px;
}
.sub-news-container li .imgbox ~ .textCon {
    width: 650px;
    height: 120px;
}

.sub-news-container li .textCon .title {
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.sub-news-container li .textCon .title a{
    color: #333;
    text-decoration: none;
}
.sub-news-container li .textCon .title a:hover {
    color: #cf3529;
}
.sub-news-container li .textCon p {
    height: 65px;
    font-size: 14px;
    color: #999;
    text-align: justify;
}
.sub-news-container li .textCon .info {
    height: 24px;
}
.sub-news-container li .textCon .info span {
    font-size: 12px;
    color: #666;
}
.sub-news-container li .textCon .info span.view {
    position: relative;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding-left: 18px;
    margin-left: 20px;
}
.info span.view .icon {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    line-height: 16px;
}

.sub-ad img {
    width: 100%;
    vertical-align: top;
}

/*hot news*/

.hot-news {
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.m-title {
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #cf3529;
    border-bottom: 1px solid rgba(221, 221, 221, .5);
    text-align: center;
}

.hot-news ul {
    display: block;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.hot-news li {
    padding: 20px 0;
    overflow: hidden;
}

.hot-news .imgleft {
    position: relative;
    float: left;
    width: 104px;
    height: 78px;
    background: #eee;
}
.hot-news .imgleft:after {
    position: absolute;
    left: 13px;
    content: "新疆分中心";
    line-height: 78px;
    font-size: 16px;
    color: #ddd;
    z-index: 0;
}
.hot-news .imgleft img {
    position: relative;
    z-index: 2;
}

.hot-news .righttext {
    float: right;
    width: 100%;
    height: 78px;
}
.hot-news .imgleft ~ .righttext {
    width: 110px;
    font-size: 12px;
}

.hot-news .righttext .title {
    display: block;
    width: 100%;
    line-height: 22px;
    font-weight: normal;
    height: 65px;
    overflow: hidden;
}

.hot-news .righttext a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: #333;
}

.hot-news .righttext a:hover {
    color: #cf3529;
    text-decoration: none;
}

.hot-news .righttext .tag {
    padding-top: 4px;
    font-size: 12px;
    font-style: normal;
    color: #9b9b9b;
}

/* 新闻内容详情 */
/*内容页*/

.article-wrap {
    padding: 0 20px 40px 20px;
}

.article-wrap .title {
    font-size: 28px;
    position: inherit;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    word-break: normal;
    display: block;
    width: 100%;
    overflow: hidden;
    font-weight: 100;
}

.article-content,
.thumbs {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.article-content .img-box,
.article-content p,
.next-page,
.article-tab {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.article-content .img-box img {
    width: 100%;
}

.article-content p {
    display: block;
    padding: 20px 0;
    line-height: 30px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.search-result {
    width: 100%;
    padding: 0 0 20px 20px;
    border-bottom: 1px dashed rgba(221, 221, 221, .5);
    overflow: hidden;
    margin-bottom: 20px;
}
.search-result .title {
    display: inline-block;
    padding-right: 20px;
}
.search-result span {
    display: inline-block;
    padding-right: 20px;
    font-size: 12px;
}
